* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
header{
    background-color: rgb(27, 36, 56);
    display: flex;
	height: 10vh;
	margin: auto;
	align-items: center;
	flex-wrap: wrap;
}
sss
.home-logo,
.airiq,
.nav-links{
    display: flex;
}
.home-logo{
    flex: 2;
}
nav{
    flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
	margin-right: 2px;
}
.airiq{
    flex: 6;
    justify-content: space-around;
}
.fcolor{
    color: rgba(255, 255, 255, 0.80);
	/* opacity: 80%; */
}
.date{
	font-size: 15px;
}
.container{
	display: flex;
	background-color: rgb(8, 12, 8);
	justify-content: space-between;
	height: 100px;
	padding: 20px;
	flex-wrap: wrap;
	border-bottom:1px groove rgb(161, 144, 144);
}
.container::after{
	border: 5px solid red;
}
.information{
	background-color: rgb(17, 13, 13);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.info-ul{
	/* border: 1px groove white; */
	border-radius: 50px;
}
.copper,.silver{
	background-color: rgb(8, 12, 8);
	margin-top: 50px;
	height: 380px;
}
.info-li{
	border: 1px groove rgb(161, 144, 144);
	list-style-type: none;
	padding: 15px;
	width: 400px;
	text-align: center;
	font-size: 100px;
}
.info-li2{
	border: 1px groove rgb(161, 144, 144);
	list-style-type: none;
	padding: 20px;
	width: 400px;
	text-align: center;
}
#unit{
	font-size: 20px;
}
.title{

	font-size: 20px;
	font-weight: 100;
}
.c-button{
	background: transparent;
	width: 250px;
	height: 40px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 10px;
}
#corrosion-rate2-button{
	border: 2px groove green;
	color: green;
}
#corrosion-rate1-button{
	border: 2px groove green;
	color: green;
}
.sensor{
	background-color:white ;
	color: white;
	padding: 1%;
	text-align: right;
	font-size: 5px;
	height: 5px;
	width: 100%;
	margin-left: 10px;
	margin-top: 10px;
}
.sensor-section{
	display: flex;
}
.sensor-percentage{
	margin-top: 5px;
}
.another-c{
	display: flex;
}
.rclass{
	margin-left: 5px;
}
.bg-model{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.7);
	display: flex;
	position: absolute;
	top: 0;
	justify-content: center;
	align-items: center;
	display: none;
}
.model-content{
	width: 700px;
	height: 400px;
	background-color:rgb(27, 36, 56) ;
	border-radius: 4px;
	position: relative;
}
.close{
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
	color: white;
}
.info-popup-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.assistance,.info{
	margin-top: 10px;
}
.call{
	margin-top: 50px;
}
.logo{
	margin-top: 30px;
}


@media only screen and (min-width: 300px) and (max-width:500px) {
	
	header{
		display: flex;
		flex-direction: column;
		height: 70px;
	}
	.nav-links{
		display: flex;
		flex-direction: column;
		
		/* margin-right: 150px; */
	}
	.rclass{
		flex-direction: row;
		margin-left: 5px;
	}
	.container{
		display: flex;
		flex-direction: column;
		height: 220px;
	}
	.another-c{
		display: flex;
		flex-direction: row;
	}
	

}

@media (min-width: 500px) and (max-width:800px) {
	header{
		display: flex;
		/* flex-direction: column; */
		height: 80px;
	}
	.nav-links{
		display: flex;
		flex-direction: column;
		
	}
	.container{
		display: flex;
		/* flex-direction: column; */
		height: 80px;
	}
	.another-c{
		display: flex;
		flex-direction: row;
	}
	.info-li{
		height: 130px;
		width: 300px;
		font-size: 50px;
	}
	.info-li2{
		height: 40px;
		width: 300px;
		padding: 10px;
	}
	.copper,.silver{
		height: 300px;
		margin-top: 20px;
	}
	.copperfont,.silverfont{
		font-size: 20px;
	}
	.sensorwidth{
		height: 70px;
	}
	
}
@media (min-width: 801px) and (max-width:900px) {
	header{
		display: flex;
		flex-direction: column;
		height:70px;
	}
	.nav-links{
		display: flex;
		flex-direction: column;
		/* margin-left: 200px; */
	}
	.container{
		display: flex;
		flex-direction: column;
		height: 220px;
	}
	.another-c{
		display: flex;
		flex-direction: row;
	}
	.information{
		display: flex;
		/* flex-direction: column; */
		/* margin-left: 20px; */
	}
	.copper,.silver{
		margin-left: 10px;
	}
	.airiq{
		margin-left: 240px;
		margin-right: 240px;
	}
	
}
@media (min-width: 901px) and (max-width:1370px) {
	header{
		display: flex;
		/* flex-direction: column; */
		height:70px;
	}
	.nav-links{
		display: flex;
		flex-direction: column;
		margin-left: 120px;
		width: 150px;
	}
	.container{
		display: flex;
		/* flex-direction: column; */
		height: 100px;
	}
	.another-c{
		display: flex;
		flex-direction: row;
	}
	.information{
		display: flex;
		/* flex-direction: column; */
		/* margin-left: 20px; */
	}
	.copper,.silver{
		margin-left: 10px;
	}
	
	
}

